<div class="container py-5">

	<h1 data-aos="zoom-in">Категории</h1>

</div>

<div class="container">

	<div class="card card-body bg-success-subtle shadow-none border-0 mb-4" data-aos="zoom-in">
		<form [formGroup]="categoryFormGroup" (ngSubmit)="save()" class="row">
			<div class="col-12 col-lg my-1">
				<input type="text" formControlName="name" class="form-control" placeholder="Наименование">
			</div>
			<div class="col-12 col-lg my-1">
				<button type="submit" class="btn btn-success w-100" [disabled]="categoryFormGroup.invalid">
					Добавить
				</button>
			</div>
		</form>
	</div>

	<div class="row">
		@for (i of categories; track i.id) {
			<div class="col-12 col-lg-4 mb-4">
				<app-category-card [category]="i"></app-category-card>
			</div>
		}
	</div>

</div>
