<div class="container py-5">

	<h1 data-aos="zoom-in">
		<b>FinShield - щит для ваших финансов</b>
	</h1>
	<hr>
	<h5 data-aos="zoom-in">
	Обеспечьте полную защиту ваших платежных карт и электронных кошельков. Мы гарантируем ваше спокойствие в мире онлайн-платежей, покрывая риски мошенничества и несанкционированных списаний.
	</h5>




</div>

<div class="container py-5">

	<h1 data-aos="zoom-in">
		FinShield — это надежно
	</h1>

	<div class="row fs-4 text-center">
		<div class="col-12 col-lg-6 mb-4" data-aos="zoom-in">
			<div class="card card-body h-100 bg-success-subtle border-0 shadow-none">
				<p class="bi bi-calendar-check" style="font-size: 5em"></p>
				<p class="m-0">
					10+ лет на рынке
				</p>
				<p class="m-0">
					Десятилетие стабильной работы и выплат.
				</p>
			</div>
		</div>
		<div class="col-12 col-lg-6 mb-4" data-aos="zoom-in">
			<div class="card card-body h-100 bg-success-subtle border-0 shadow-none">
				<p class="bi bi-emoji-smile" style="font-size: 5em"></p>
				<p class="m-0">
					50 000+ довольных клиентов
				</p>
				<p class="m-0">
					Мы ценим доверие каждого.
				</p>
			</div>
		</div>
		<div class="col-12 col-lg-6 mb-4" data-aos="zoom-in">
			<div class="card card-body h-100 bg-success-subtle border-0 shadow-none">
				<p class="bi bi-graph-up-arrow" style="font-size: 5em"></p>
				<p class="m-0">
					98% одобренных выплат
				</p>
				<p class="m-0">
					Максимальная вероятность успешного урегулирования.
				</p>
			</div>
		</div>
		<div class="col-12 col-lg-6 mb-4" data-aos="zoom-in">
			<div class="card card-body h-100 bg-success-subtle border-0 shadow-none">
				<p class="bi bi-clock" style="font-size: 5em"></p>
				<p class="m-0">
					24/7
				</p>
				<p class="m-0">
					Круглосуточная поддержка и прием уведомлений о страховых случаях.
				</p>
			</div>
		</div>
	</div>


</div>
<footer class="container">
	<div class="row">

		<div class="col-12 col-lg-2 mb-3" data-aos="zoom-in">
			<div class="ratio ratio-1x1">
				<img src="/img/favicon.png" alt="favicon" class="object-fit-cover">
			</div>
		</div>


		<div class="col-12 col-lg-8 mb-3" data-aos="zoom-in">
			<h3>FinShield</h3>
			<p class="fs-6 m-0" align="justify">
				Жизнь в онлайне полна возможностей, но и рисков, поэтому FinShield — ваш надежный партнер,
				который гарантирует, что ваше финансовое благополучие не пострадает от кибер-мошенничества
				и несанкционированных списаний.
			</p>
			<p class="fs-6 m-0" align="justify">
				Мы предлагаем простое и понятное страхование для ваших банковских карт и электронных кошельков,
				превращая сложные риски цифровой эпохи в простые решения, чтобы вы могли уверенно пользоваться
				деньгами, а мы — быстро вернуть их в случае инцидента.
			</p>
		</div>

		<div class="col-12 col-lg-2 mb-3 d-flex justify-content-center" data-aos="zoom-in">
			<div>
				<h3>Ссылки</h3>
				<ul class="nav flex-column">
					<li class="nav-item mb-2">
						<a class="nav-link p-0 text-body-secondary" appNavigate [navigateURL]="''"
						   role="button">Главная</a>
					</li>
					<li class="nav-item mb-2">
						<a class="nav-link p-0 text-body-secondary" appNavigate [navigateURL]="'types'"
						   role="button">Типы страхований</a>
					</li>
					<li class="nav-item mb-2">
						<a class="nav-link p-0 text-body-secondary" appNavigate [navigateURL]="'instructions'"
						   role="button">Инструкции</a>
					</li>
				</ul>
			</div>
		</div>

	</div>

	<div class="d-flex flex-column flex-sm-row justify-content-center py-1 my-1 border-top">
		<p>© FinShield</p>
	</div>
</footer>


