<div class="container py-5">

	<h1 data-aos="zoom-in">Добавить</h1>

	<div class="row mt-4" data-aos="zoom-in">
		<div class="col-auto">
			<a appNavigate [navigateURL]="'types'" role="button" class="btn btn-success">Назад</a>
		</div>
	</div>

</div>

<div class="container">

	<div class="card card-body bg-success-subtle border-0 shadow-none" data-aos="zoom-in">
		<form [formGroup]="typeFormGroup" (ngSubmit)="save()" class="row fs-4">
			<div class="col-12 col-lg-6 mb-2">
				<p class="fs-4 m-0">Наименование</p>
				<input type="text" formControlName="name" class="form-control" minlength="1" maxlength="255">
			</div>
			<div class="col-12 col-lg-6 mb-2">
				<p class="fs-4 m-0">Категория</p>
				<select (change)="changeCategoryId($event)" class="form-select">
					<option disabled selected>Выберите</option>
					@for (i of categories; track i.id) {
						<option [value]="i.id" [label]="i.name"></option>
					}
				</select>
			</div>
			<div class="col-12 col-lg-6 mb-2">
				<p class="fs-4 m-0">Страховая сумма</p>
				<input type="number" formControlName="sum" class="form-control" min="1" step="1" max="1000000">
			</div>
			<div class="col-12 col-lg-6 mb-2">
				<p class="fs-4 m-0">Размер страховой премии</p>
				<input type="number" formControlName="prize" class="form-control" min="1" step="1" max="1000000">
			</div>
			<div class="col-12 col-lg-6 mb-2">
				<p class="fs-4 m-0">Порядок и срок уплаты</p>
				<input type="text" formControlName="term" class="form-control" minlength="1" maxlength="255">
			</div>
			<div class="col-12 col-lg-6 mb-2">
				<p class="fs-4 m-0">Условия страхования</p>
				<input type="text" formControlName="conditions" class="form-control" minlength="1" maxlength="255">
			</div>
			<div class="col-12">
				<button type="submit" class="btn btn-success w-100" [disabled]="checkSubmit">Добавить</button>
			</div>
		</form>
	</div>

</div>

